.dark-mode {
    padding: 0%;
    margin: 0%;
    background-color: #111;
    color: rgb(156, 156, 156);

    .chatGrid {
        stroke: rgba(228, 228, 228, 0.219);
    }

    .table {
        background-color: #111;

        .tableCell {
            color: gray;
        }
    }
    .navbar{
        color:#999;
        border-color:#333;
        .Search{
            border-color: grey;
            input{
                color:#999;
            }
        }
    }
    .sidebar{
        background-color: #111;
        border-color: #333;
    }
    .top{
        .logo{
            color: #999;
        }
        hr{
            border-color: #333;  
        }
        ul{
            li{
               &:hover{
                background-color: #333;
               } 
               
            }
        }
    }
       .datatable{
            .dataGrid{
                color:grey;
                border:none;
                .viewButton,.deletebutton,.cellWithStatus{
                    color: grey ;
                    border:none;
                }
            }
        }
    input{
        background-color: transparent;
    }    
}